* {
    padding: 0;
    margin: 0;
}

.home-container {
    background-image: url("../cover-v3.jpeg");
    height: 100vh;
    background-size: cover;
    text-align: center;
}

.navbar {
    background-color: rgba(243, 242, 242, 0.928);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.link-element {
    color: black;
    text-decoration: none;
    padding: 1.5rem;
    margin-right: 2rem;
    font-weight: 500;
}

.link-element:hover {
    padding-bottom: 1.2rem;
    border-bottom: 0.3rem solid rgb(24, 244, 207);
}

.home-heading {
    color: white;
    margin: 4rem;
    font-size: 3rem;
}

.home-description {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0.5em;
}

.about-main-container {
    height: 100vh;
}

.about-container {
    width: 100%;
    display: flex;
    height: 88%;
}

.description-container {
    width: 50%;
    padding: 2rem;
}

.img-container {
    width: 50%;
    background-image: url("../paperbg.jpg");
    background-size: cover;
    padding: 2rem;
    text-align: center;
}

@keyframes example {
    0% {
        color: black;
    }

    10% {
        color: red;
    }

    20% {
        color: yellow;
    }

    30% {
        color: rgb(0, 255, 34);
    }

    30% {
        color: rgb(255, 0, 51);
    }

    50% {
        color: rgb(7, 100, 38);
    }

    60% {
        color: rgb(92, 92, 92);
    }

    70% {
        color: rgb(118, 118, 31);
    }

    80% {
        color: rgb(207, 207, 157);
    }

    90% {
        color: blue;
    }

    100% {
        color: rgb(0, 0, 0);
    }
}

.about-description {
    margin-bottom: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    animation-name: example;
    animation-duration: 10s;
}

.contact-main-container {
    height: 100vh;
}

.contact-form {
    padding: 3em;
    display: flex;
    flex-direction: column;
    width: 20%
}

.label {
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
}

.input {
    outline: none;
    padding: 0.2rem;
}

.button {
    margin-top: 2rem;
    background-color: rgba(98, 35, 35, 0.896);
    border: 0;
    color: white;
    font-weight: 500;
    padding: 0.5rem;
    cursor: pointer;
}

.error {
    font-size: 0.5rem;
    color: red;
}

.success{
    font-size: 0.5rem;
    color: green;
    align-self: center;
    margin-top: 1rem;
}

.none{
    display: none;
}

.map-container{
    width: 50%;
    padding: 5rem;
}

.map{
    width: 100%;
    height: 100%;
}
